doctype html
html(lang='en')
  head
    title Sticky Notes
    meta(charset='utf-8')
    link(href='https://fonts.googleapis.com/css?family=Caveat:400,700&subset=latin-ext', rel='stylesheet')
    link(href='css/styles.css', rel='stylesheet')
  body
    ul.menu
      li.add-box +
      li.remove-all -
      li.stick-icon-menu: img(src='images/pin-icon.png')
      li.font-size 
        span +
        | /
        span -
      li.help-menu ?
    .board
      .line.one
      .line.two
    script(src='js/script.js')
